.mainContainer input {
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 8px;
  margin: 2px;
  text-align: center;
}

.mainContainer input:focus {
  background: #4c6fff;
}

.mainContainer input:active {
  border: 1px solid blue;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
}

.pinContainer {
  display: flex;
  margin: 0 auto;
}
.code {
  margin: 0 auto;
  padding: 20px 0;
}
.email-confirm {
  color: navy;
}
